#pageSettings, #forkPage, #savePage {
  position: absolute;
  left: 14px;
  top: 0;
  display: inline;
}

.dropSegment {
  position: absolute;
  right: 0;
  top: 2em;
  display: inline;
}

.favoriteOnPage {
  position: absolute;
  right: 14px;
  top: 0;
  display: inline;
}
